<%- include('../partials/header') %>

<img src="https://i.imgur.com/b7cFAvq.jpg" alt="all plans" id="allPlans">

<h1 id="planTitle">All My Plans</h1>
<hr>
<table id="planner-list">
  <thead id="planner-row">
    <tr>
      <th>Planner Name: </th>
      <th>Location: </th>
      <th>Start Date: </th>
      <th>End Date: </th>
      <th>Budget: </th>
      <th>Expenses: </th>
      <th>Public: </th>
    </tr>
  </thead>
  <tbody>
    <% trips.forEach(function(t) { %>
      <tr>
        <td><%= t.title %></td>
        <td><%= t.location %></td>
        <td><%= t.startDate %></td>
        <td><%= t.endDate %></td>
        <td><%= t.budget %></td>
        <td><%= t.expenses %></td>
        <td><%= t.privacy %></td>
        <td><a href="/trips/<%= t._id %>" id="details">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>