<%- include('../partials/header') %>

<a href="/trips/<%= trip._id %>/edit" class="tripBtn">EDIT</a>

<% if (user && user._id.equals(trip.user)) { %>
<form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
  <button type="submit">DELETE TRIP</button>
</form>
<% } %>

<section id="trips-show-page">
  <div>Trip Name: </div>
  <div><%= trip.title %></div>
  <div>Location: </div>
  <div><%= trip.location %></div>
  <div>Start Date: </div>
  <div><%= trip.startDate %></div>
  <div>End Date: </div>
  <div><%= trip.endDate %></div>
  <div>Budget: </div>
  <div><%= trip.budget %></div>
  <div>Expenses: </div>
  <div><%= trip.expenses %></div>
  <div>Public: </div>
  <div><%= trip.privacy ? 'Private' : 'Public' %></div>
  <!-- start destinations list -->
  <div>Destinations:</div>
  <a href="/trips/<%= trip._id %>/destinations/new" class="tripBtn">Add a Destination</a>
  <ul>
    <% trip.stops.forEach(function(d) {  %>
    <div>
      <img src=" <%= d.imgUrl %>" ></img>
      <li><%= d.name %></li>
      <li><%= d.location %></li>
      <li><%= d.openingHrs %></li>
      <li><%= d.phoneNum %></li>
      <li><%= d.website %></li>
      <li><%= d.budget %></li>
      <li><%= d.expenses %></li>
    </div>
    <% }) %>
  </ul>
  <!-- end destinations list -->
</section>

<%- include('../partials/footer') %>